<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        Welcome to your library!
    </title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>

    <a href="/">back</a>
    <h1>Welcome to your library!</h1>
    <h3><%if (name){%>
        <%=role.toUpperCase()%>:
            <%=name.toUpperCase()%>
                <%} else{%>
                    Admin Page
                    <%}%></h3>
    <div class="admin">
        <form action="/books/admin" method="GET">
            <input type="hidden" name="name" value="<%=name%>">
            <input type="hidden" name="role" value="<%=role%>">
            <input type="submit" name="allBook" class="adminBtn" value="Book inventory" />
        </form>
        <form class="postBook" action="/books/admin" method="POST">
            <input type="hidden" name="name" value="<%=name%>">
            <input type="hidden" name="role" value="<%=role%>">
            <label> Title
                <input type="text" name="title" class="libNumText" />
            </label>
            <label>Release Date
                <input type="text" name="releaseDate" placeholder="Jun 26, 1997" class="libNumText" />
            </label>
            <label>Description
                <input type="text" name="description" class="libNumText" />
            </label>
            <label>Pages
                <input type="text" name="pages" class="libNumText" />
            </label>
            <label>Cover
                <input type="text" name="cover" class="libNumText" />
            </label>
            <input type="submit" name="addBook" class="adminBtn" value="Add a book" />
        </form>
        <!-- <form  class="postBook" action="/books/admin" method="GET"></form>
        <input type="hidden" name="name" value="<%=name%>">
        <input type="hidden" name="role" value="<%=role%>">
        <label> Title
            <input type="text" name="title" class="libNumText" />
        </label>
            <input type="submit" name="delBook" class="adminBtn" value="Delete a book" />
        </form>
        <form  action="/" method="GET"></form>
            <input type="submit" name="updateBook" class="adminBtn" value="Update a book" />
        </form> -->
    </div>
</body>

</html>